body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/main_bg.jpg');
  background-attachment: fixed;
  background-size: contain;
  background-position: top center;
  background-color: #000;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 960px;
  min-width: 960px;
  margin: 0 auto;
}
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-block {
  background: rgba(8, 22, 36, 0.7);
  box-sizing: border-box;
  padding: 15px;
  line-height: 1.4em;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;

  & + .content-block {
    margin-top: 20px;
  }
}
.ql-toolbar.ql-snow {
  background-color: #fff;
}