body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.akr_label {
  display: block;
  cursor: pointer;
  margin-right: 10px;

  input {
    display: none;
  }

  input:checked + img {
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
  }
}

.akr {
  & > div {
    padding: 10px;
    border: 1px solid #999;
  }
  & > div:first-child,
  & > div:nth-child(3) {
    border-right: none;
    border-radius: 10px 0 0 10px;
  }
  & > div:nth-child(2) {
    margin-right: 20px;
  }
  & > div:nth-child(2),
  & > div:nth-child(4) {
    border-left: none;
    border-radius: 0 10px 10px 0;
  }
}