.mainNavWrapper {
  height: 62px;
}
.mainNav {
  background: rgba(#081624, .5);
  box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.navList {
  padding: 0;
  list-style: none;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
}
.navItem {
  font-size: 18px;
  margin: 0 15px;
  text-transform: uppercase;
  align-self: flex-end;
}
.navLink {
  display: block;
  border-bottom: 3px solid transparent;
  padding: 20px 5px 17px;
  text-decoration: none;
  color: #fff;
  transition: linear .2s;
  transition-property: color, border-color;

  &_active,
  &:hover {
    color: #b01ba5;
    border-color: #b01ba5;
  }
  
  &Logo {
    display: inline-block;
    padding: 5px 0;
    border: none;
    text-transform: none;
    font-size: 0;
    font-weight: bold;
    transition-property: text-shadow;
    
    &_active,
    &:hover {
      text-shadow: 0 0 5px #b01ba5;
      color: #fff;
    }

    img {
      width: 60px;
    }
  }
}
.profileItem {
  margin-left: auto;
  align-self: center;
  font-size: 14px;
  text-transform: none;
  text-align: right;
  
  .navLink {
    border: none;
  }
}
.accountLink {
  color: #fff;
  text-decoration: none;
}
.logoutLink {
  color: #ce4f4f;
  text-decoration: underline;
  cursor: pointer;
}