.header {
  font-size: 24px;
  font-weight: bold;
}
.dates {
  margin: 10px 0;
  font-size: 20px;
}
.columns {
  display: flex;
}
.about {
  flex: 1 1 0px;
}
.stats {
  flex: 1 1 0px;
}
.list {
  font-size: 16px;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;

  li {
    margin-bottom: 10px;

    span {
      font-weight: bold;
    }
  }
}
.table {
  margin-top: 40px;

  .header {
    margin-bottom: 20px;
  }

  th:first-child {
    text-align: left;
  }
}