.header {
  font-size: 24px;
  font-weight: bold;
}
.dates {
  margin: 10px 0 30px;
  font-size: 20px;
}
.columns {
  display: flex;
}
.about {
  flex: 1 1 0px;
}
.stats {
  flex: 1 1 0px;
}
.list {
  font-size: 16px;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;

  li {
    margin-bottom: 10px;

    span {
      font-weight: bold;
    }
  }
}
.table {
  margin-top: 40px;

  .header {
    margin-bottom: 20px;
  }

  th:nth-child(3) {
    text-align: left;
  }

  &_finished {
    th:nth-child(2) {
      text-align: left;
    }
    th:nth-child(3) {
      text-align: center;
    }
  }
}
.places {
  margin: 10px 0 0 30px;
  padding: 0;
}
.creator {
  margin-bottom: 30px;
}